body {
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 40px 200px 0;
}

.logo {
    width: 100px;
    height: 60px;
}
.menu__list {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.menu__list_item-link {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-gray);
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
